body {
   background-position: center;
   background-size: cover;
   background-color: #f2f2f2
}

#profile-table {
    display: table;
    border-spacing: 50px;
}

#first-row-profile-table {
    display: table-row;
}

#profile-image-div {
    display: table-cell;
    width: 300px;
    vertical-align: top;
}

#profile-image {
    border-radius: 5%;
}

#summary-div {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    font-family: "Lucida Grande", sans-serif;
}

.links-section {
	color: Azuer;    
	font-size: 20px;
	padding: 20px 0px 20px 40px;
    text-align: left;
}